@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100vh;
}

header {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 1rem;
}

.header-container {
    padding: 1rem 0;
    max-width: 90%;
    margin: 0 auto;
}

.web-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.logo-text {
    color: #e76f51;
    font-size: 1.6rem;
}

.logo-span {
    font-style: italic;
    color: #264653;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background-color: #f5f3f4;
    color: #264653;
}

.btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-book {
    padding: .75rem 1rem;
    font: inherit;
    font-size: 1rem;
    background-color: #e76f51;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.15s ease-in-out, font-size 0.1s ease-in-out;
}

#addBookModal {
    position: fixed;
    z-index: 1;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    background-color: rgb(177, 167, 166);
    background-color: rgb(177, 167, 166,0.4);
    transition: top 1s, opacity .5s;
}

main {
    margin-bottom: 5rem;
}

/* form styling starts */

form {
    background-color: #2a9d8f;
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid #b1a7a6;
    border-radius: .25rem;
    width: 80%;
}

/* hide arrow for book page number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#addBookModal.show {
    top: 0;
    opacity: 1;
}

.book-details {
    margin-bottom: 1.25rem;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    gap: .625rem;
    margin-bottom: .25rem;
}

.book-details > input {
    display: block;
    font-family: inherit;
    width: 100%;
    height: 2.375rem;
    padding: .375rem .75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.book-details > input:focus {
    border-color: #f4a261;
    outline: none;
    box-shadow: 0 0 0 0.2rem #e9c46a;

}

#submit {
    width: 100%;
    padding: .75rem;
    background-color: #e76f51;
    font: inherit;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    transition: background-color 0.15s ease-in-out, font-size 0.1s ease-in-out;
}

#submit:hover, .add-book:hover {
    background-color: #e9c46a;
    font-size: 1.15rem;
}

.book-details > p {
    font-size: 1.125rem;
    margin-bottom: .25rem;
}

/* form styling ends */

/* book card styling */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    max-width: 90%;
    margin: 2rem auto;
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fffcf6;
    border: 1px solid #cbcbcb;
    border-radius: 8px;
    padding: 1.5rem;
}

.book-card > * {
    font-weight: 400;
}

.book-card > h2 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.book-card > h3 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.book-card > h4 {
    font-size: .9rem;
    margin: .35rem 0;
    text-transform: capitalize;
}

.status {
    font-size: .75rem;
    font-family: inherit;
    text-transform: capitalize;
    width: 50%;
    margin: .5rem auto;
    padding: .75rem;
    cursor: pointer;
    border-radius: .5rem;
    outline: none;
    border: none;
    transition: all ease-in-out 100ms;
}

.status.read {
    background-color: #2a9d8f;
    color: #fff;
}

.status.unread {
    background-color: #f4a261;
}

.status:hover {
    background-color: #e9edc9;
    border: 2px solid #d4a373;
}

.read:hover {
    color: #495057;
}

.delete-btn {
    font-size: .75rem;
    font-family: inherit;
    width: 80%;
    margin: .5rem auto;
    padding: 1rem;
    cursor: pointer;
    background-color: #faedcd;
    border-radius: .5rem;
    outline: none;
    border: none;
    transition: all ease-in-out 100ms;
}

.delete-btn:hover {
    background-color: #e76f51;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: .25rem;
    margin: .5rem 0;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer > p {
    font-size: 1.15rem;
    color: #264653;
}

.fa-github {
    color: #e76f51;
    font-size: 1.6rem;
    transition: transform 0.4s ease-in-out ;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

.source-code:hover {
    color: #e76f51;
}
  
@media (min-width: 576px) {
    form {
      max-width: 540px;
    }
  }
  
@media (min-width: 768px) {
    form {
      max-width: 720px;
    }

    .header-container {
        padding: 1.5rem 0;
        max-width: 85%;
    }

    .logo-text {
        font-size: 1.8rem;
    }
  }

  @media (min-width: 976px) {
    .container {
        max-width: 70%;
    }
  }