@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #f5f3f4;
    color: #161a1d;
    transition: all ease-in 100ms;
}

#addBookModal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(177, 167, 166);
    background-color: rgb(177, 167, 166,0.4);
}

form {
    position: relative;
    background-color: #a4161a;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #b1a7a6;
    border-radius: .25rem;
    width: 80%;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.book-details > input {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: .375rem .75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


  
@media (min-width: 576px) {
    form {
      max-width: 540px;
    }
  }
  
@media (min-width: 768px) {
    form {
      max-width: 720px;
    }
  }